

    <footer class="footer">
        <div class="container-fluid">
          <nav class="float-right">
            <ul>

              <li>
                <a href="https://www.djangoproject.com/" target="_blank" >Powered by Django </a> 
  
              </li>

            </ul>
          </nav>
          <div class="copyright float-left">
            &copy; <a target="_blank" rel="noopener noreferrer" 
                      href="https://ivedrina.github.io/">IV</a> 
                      - coded by <a target="_blank" rel="noopener noreferrer" href="https://ivedrina.github.io/">Ines Vedrina</a>
          </div>
        </div>
    </footer>
