{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link href="/static/assets/css/material-dashboard.css" rel="stylesheet" />
<link rel="stylesheet" href="/static/assets/css/ni.css">

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="author-quote-wrap">
    <input class="toggle-quote" type="radio" id="AQ-1" name="quote" checked>
    <div class="author-quote">
      <div class="pull-left author-photo photo-a animated bounceInLeft">
        <div class="navigate">
          <label class="label left" for="AQ-5">&nbsp;</label>
          <label class="label right" for="AQ-2">&nbsp;</label>
        </div>
      </div>
      <div class="pull-right quote-content">
        
        <div class="quote-text animated rotateInDownRight">If someone says no, you're talking to the wrong person...</div>
        <div class="quote-author animated lightSpeedIn">Kris Jenner</div>
      </div>
    </div>
  
    <input class="toggle-quote" type="radio" id="AQ-2" name="quote">
    <div class="author-quote">
      <div class="pull-left author-photo photo-b animated bounceInLeft">
        <div class="navigate">
          <label class="label left" for="AQ-1">&nbsp;</label>
          <label class="label right" for="AQ-3">&nbsp;</label>
        </div>
      </div>
      <div class="pull-right quote-content">
        
        <div class="quote-text animated zoomInDown">Everything is Possible if You Set Your Mind to It...</div>
        <div class="quote-author animated lightSpeedIn"></div>
      </div>
    </div>
  
    <input class="toggle-quote" type="radio" id="AQ-3" name="quote">
    <div class="author-quote">
      <div class="pull-left author-photo photo-c animated bounceInLeft">
        <div class="navigate">
          <label class="label left" for="AQ-2">&nbsp;</label>
          <label class="label right" for="AQ-4">&nbsp;</label>
        </div>
      </div>
      <div class="pull-right quote-content">
        
        <div class="quote-text animated bounceInRight">I have not failed. I've just found 10,000 ways that won't work.</div>
        <div class="quote-author animated lightSpeedIn">Thomas A. Edison</div>
      </div>
    </div>
  </div>
  
</div>
    
    

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
{% endblock javascripts %}
