{% extends "layouts/base.html" %}

{% block title %} UI Work {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-primary">
            <h4 class="card-title ">Work experiance</h4>
            <p class="card-category"> 2014-2022</p>
          </div>
      
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class=" text-primary">
                  <th>
                    
                  </th>
                  <th>
                    Company
                  </th>
                  <th>
                    Business sector
                  </th>
                  <th>
                    Position
                  </th>
                  <th>
                    Time period
                  </th>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      1
                    </td>
                    <td>
                      <a href="http://www.alfatim.hr/" target="_blank">Alfa-tim d.o.o.</a>
                    </td>
                    <td>
                      Hard metal production, powder metallurgy
                    </td>
                    <td>
                      Designer and technologist
                    </td>
                    <td class="text-primary">
                      May 2015 – Apr 2017
                    </td>
                  </tr>
                  <tr>
                    <td>
                      2
                    </td>
                    <td>
                      <a href="https://www.teh-cut.hr/" target="_blank">Teh-cut d.o.o.</a>
                    </td>
                    <td>
                      Company specialised in prototype and serial production tools for aluminium die casting
                    </td>
                    <td>
                      CNC technologist
                    </td>
                    <td class="text-primary">
                      Jul 2017 - Oct 2019
                    </td>
                  </tr>
                  <tr>
                    <td>
                      3
                    </td>
                    <td>
                      <a href="https://km-croatia.com/km-alati" target="_blank">KM Alati d.o.o.</a>
                    </td>
                    <td>
                      Company specialised in sheet metal processing tools and moulds for pressure casting
                    </td>
                    <td>
                      CNC programmer / Technologist
                    </td>
                    <td class="text-primary">
                      Nov 2019 – Feb 2022
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
